<h1></h1>

<!-- Pagina izquierda -->
<div id="page_content_left">
  <%= render 'form' %>

  <table>
    <tr valign="middle">
       <td><%= link_to '', admin_coleccions_path, :class => 'back', :title => "Retroceder" %></td>
	<td><%= link_to '', @admin_coleccion, :class => 'show', :title => "Mostrar" %></td>
    </tr>
  </table>
</div> 


