<h1></h1>

<!-- Pagina izquierda -->
<div id="page_content_left">
	<%= render 'form' %>

	<table>
		<tr valign="middle">
			<td><%= link_to '', admin_obras_path, :class => 'back', :title => "Retroceder" %></td>
			<td><%= link_to '', @admin_obra, :class => 'show', :title => "Mostrar" %></td>
		</tr>
	</table>
</div> 

<!-- Pagina derecha -->
<div id="page_content_right">
	<table id="centrar"> 
		<tr>
			<td>
				<!-- Imagen de la obra -->
				<%= image_tag @admin_obra.imagen.url(:large), :class => "photo", :size => "250x250" %>
			</td>
		</tr>
	</table>
</div>
